.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

header.entry-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-links {
  display: flex;
  width: 15em;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: end;
}
